@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  padding: 10px 10px 0;

}

.logo {
  text-align: center;
}

/* Profile section */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 5px;
}
.profile_text {
  line-height: 1.25;
  text-align: center;
}
.profile_name {
  font-weight: 400;
  font-size: 22px;
}

.edit-profile{
  margin-top: 25px;
}
.pencil-icon{
  margin-right: 5px;
}

/* New post button */
.btn{
  background-color: black;
  padding: 10px 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;  
  align-self: center;
  border: none;
  border-radius: 5px;
}
.plus-icon{
  width: 12px;
  height: 12px;
}
.btn-text{
  font-size: 16px;
  color: white;
  line-height: 1;
}

/* hr */

hr{
  margin: 20px 0; 
}

/* cards */

.card-wrapper{
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.card-photo{
  border-radius: 5px;
  width: 100%;
}
.card-details{
  display: flex;
  justify-content: space-between;
}

/* footer */
footer{
  margin: 30px 0;
  font-weight: 200;
  text-align: center;
  font-size: 14px;
}

/* Media queries */
@media (min-width: 768px ){
  
}
@media (min-width: 768px ) and (max-width:850px){

  body{
    margin: 20px;
  }
  .card-container{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
    

  }
}

@media (min-width: 851px ) {

  /* .profile-wrapper{
    display: flex;
    justify-content: space-between;
  }

  .btn{
    width: 150px;
  }

  .profile{
    width: ;
  } */



  /*  */
  body{
    margin: 20px;
  }
  .card-container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 10px;
    

  }
}







